* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fundo */
body {
    background-color: #05334C;
    padding-top: 40px;
    text-align: center;
}

h1 {
    background-color: #7ACCEB;
    padding: 12px;
    width: 60%;
    margin: 0 auto;
    border-radius: 6px;
    font-size: 26px;
}

/* lado a lado */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-top: 50px;
}

/* Círculos */
.bloco {
    width: 300px;
    height: 300px;
    background-color: #D9D9D9;
    border-radius: 70%;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Títulos dos círculos */
.titulo-caixa {
    background-color: #4B4040;
    color: #fff;
    padding: 15px 20px;
    border-radius: 50px;
    margin-bottom: 25px;
}

/* Inputs */
.bloco input {
    width: 190px;
    height: 45px;
    background-color: #4B4040;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    color: #fff;
    margin-bottom: 10px;
}

/* Select */
.bloco select {
    width: 200px;
    height: 45px;
    background-color: #4B4040;
    color: #fff;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
    margin-top: 5px;
}

/* Texto abaixo */
.texto-baixo {
    font-size: 20px;
    margin-bottom: 8px;
}

.igual {
    font-size: 40px;
    color: white;
    font-weight: bold;
}